@charset "UTF-08";

body {
    background-color: lightgoldenrodyellow;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

h1{
    color: maroon;
    background-color: burlywood;
}
h2 {
    color: rgb(227, 176, 82);
}

p{
    text-align: justify;
}

a{
    color:brown;
}